html * {
	margin: 0px !important
	padding: 0; !important
	-webkit-user-select: none;
	/* Safari 3.1+ */
	-moz-user-select: none;
	/* Firefox 2+ */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Standard syntax */
}

body {
	background-image: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

.sm-icon {
	width: 50px;
	height: 50px;
	margin: 10px;
	cursor: pointer;
}

.navbar li {
	display: inline;
}

@font-face {
	font-family: q;
	src: url('qfont.ttf');
}

.quote {
	color: snow;
	font-family: q;
	width: 35%;
	position: absolute;
	right: 100px;
	text-align: right;
	font-size: 2.5em;
	user-select: text;

}
.quoter{
	transform: rotate(90deg);
	position: absolute;
	top: 40px;
	font-family: q;
	font-size: .4em;
	right: -70px;
	
}
.buttons{
	width: 100%;
	position: absolute;
	color: rgb(72,129,114);
	bottom: 100px;
	text-align: center;
	font-size: 2em;
	
}
.about-button{
	display: inline-block;
	background-color: rgb(72,129,114);
	border: 3px solid rgb(72,129,114);
	padding: 10px;
	cursor: pointer;
	transition: all .4s;
	color: snow;
}
.about-button:hover{
	background-color: #004D40;
	border: 3px solid  #004D40;
	
}
.contact-button{
	display: inline-block;
	background-color: rgba(10,10,10, 0.8);
	padding: 10px;
	color: snow;
	border: 3px solid black;
	cursor: pointer;
	transition: all .4s;
}
.contact-button:hover{
	border-right: 3px solid snow;
	border-left: 3px solid snow;
	color: snow;
	border-radius: 10px;
}

@media only screen and (max-width: 450px) {
	body {
		background-image: url('bgs.jpg');
	}
	.sm-icon {
		width: 35px;
		height: 35px;
	}
	.quote{
		font-size: 1.5em;
		right: 40px;
		width: 80%;
		top: 70px;
	}
	.quoter{
		top: 25px;
		right: -35px;
	}
	.buttons{
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 1024px) {
	body {
		background-image: url('bgs.jpg');
	}
}
