html {
	margin: 0;
	padding: 0;

}

body {
	background-image: url(bga.png);
	background-color: #023118;
}

.sm-icon {
	width: 50px;
	height: 50px;
	margin: 10px;
	margin-top: 40px;
	cursor: pointer;
}

.navbar li {
	display: inline;
}

@font-face {
	font-family: q;
	src: url('qfont.ttf');
}

.half {
	margin: 0;
	position: absolute;
	width: 50%;
	display: inline;
}

.half1 {
	margin: 0;
	position: absolute;
	width: 50%;
	left: 50%;
	display: inline;
}

.cont {
	position: relative;
	width: 90%;
	margin: 0 5%;
	height: 360px;
	background-color: snow;
	border-radius: 7px;
}

.skill {
	position: relative;
	width: 90%;
	margin: 0 5%;
	background-color: snow;
	top: 150px;

	border-radius: 7px;
	padding: 20px;

}

.pp {
	position: relative;
	border: 10px solid #04562A;
	
	border-radius: 9px;
	width: 300px;
	height: 300px;
	display: block;
	top: -150px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px;

}

.ab-text {
	position: relative;
	top: -150px;
	margin: 20px;
	text-align: justify;
	font-family: q;
	font-size: 1.58em;
}

@media only screen and (max-width: 1290px) {
	.ab-text {
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 1090px) {
	.ab-text {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 900px) {
	.ab-text {
		font-size: 1.6em;
	}
}

@media only screen and (max-width: 700px) {
	.ab-text {
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 542px) {
	.ab-text {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 510px) {
	.ab-text {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 406px) {
	.ab-text {
		font-size: 1.1em;
	}
	.cont {
		height: 370px;
	}
}

@media only screen and (max-width: 360px) {
	.ab-text {
		font-size: 1em;
	}
	.sm-icon {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (max-width: 320px) {
	.ab-text {
		font-size: .9em;
	}
}

.sk-head {
	background-color: snow;
	border: 10px solid #04562A;
	border-radius: 9px;
	padding: 0 30px;
	position: relative;
	top: -45px;
	left: 35px;
	font-size: 3em;
	font-family: q;
	box-shadow: 3px 3px 5px;
	display: inline;
}

.skill-ins {
	margin: 10px 5px;
}

.skill-name {
	font-size: 2em;
	font-family: q;
	display: inline-block;
	position: relative;
	top: -17px;

}

.skill-cont {
	position: absolute;
	left: 200px;
	border-radius: 20px;
	height: 10px;
	border: 2px solid #04562A;
	background-color: snow;
	display: inline-block;
	width: 60%;
}

.skilled {
	background-color: #04562A;
	border-radius: 20px 0 0 20px;
	position: absolute;
	height: 100%;
	left: -1px
}

#dr {
	width: 90%;
	animation: gr .8s;
	animation-delay: 0.5s;

}

#sc {
	width: 80%;
	animation: gr .8s;
	animation-delay: 0.5s;
}

#sw {
	width: 90%;
	animation: gr .8s;
	animation-delay: 0.5s;
}

#cu {
	width: 70%;
	animation: gr .8s;
	animation-delay: 0.5s;
}

#pr {
	width: 40%;
	animation: gr .8s;
	animation-delay: 0.5s;
}

@keyframes gr {
	from {
		width: 0;
	}
	to {
		width: currentWidth;
	}
}

@media only screen and (max-width: 1120px) {
	.skill-cont {
		width: 55%;
	}
}

@media only screen and (max-width: 999px) {
	.skill-cont {
		width: 50%;
	}
}

@media only screen and (max-width: 900px) {
	.half {
		width: 100%;

	}
	.half1 {
		width: 100%;
		top: 570px;
		left: 0px;
	}
	.skill-name {
		font-size: 1.2em;
		line-height: 40px;

	}
	.skill-cont {
		left: 150px;
	}

}
